.transaction-date {
    display: flex;
    flex-direction: row;
    width: 42%;
    height: 1.5rem;
    color: rgb(0, 0, 0);
    border-radius: 12px;
    align-items: center;
    justify-content: center;
  }
  .transaction-date__month {
    font-size: 1rem;
  }
  .transaction-date__year {
    font-size: 1rem;
  }
  .transaction-date__day {
    font-size: 1rem;
  }