*{
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 8px 8px 4px 0px #56000040;
  width: 99vw;
  height: 100vh;
  background-color: #E5E5E5;
  /*background-image: url("./assets/bg-1.png");*/
  background-position-y: 5vh;
  background-position-x: center;
  background-size: 80%;
  background-blend-mode: luminosity, normal;
  background-repeat: no-repeat;
  padding-top: 0;
  overflow-x: hidden;
  scroll-snap-align: start;
  margin-top: 4vw;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98.8vw;
  height: 10vh;
  padding: 0;
  margin: 0;
  position:absolute;
  left: 0;
  top: 0;
  background-color: teal;
}
.btn-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: 5%;
  padding: 0;
}

